html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 14px;
  min-width: 720px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

* {
  letter-spacing: 1px;
}

.headerContainer {
  height: 72px;
  width: 100%;
  top: 0;
  background-color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.headerContainer ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 24px auto;
}

.headerContainer ul li {
  margin-right: 2.25rem;
}

.headerContainer nav {
  list-style: none;
}

.headerContainer nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: block;
  width: 100%;
}

/* register form */
.registerContainer {
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

.inputContainer {
  width: 400px;
  margin: 0 auto;
}

.inputContainer h2 {
  text-align: center;
}

.inputContainer input[type="text"],
.inputContainer input[type="email"],
.inputContainer input[type="password"] {
    display: block;
    border: 1px solid #b5b2b2;;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

.inputContainer label {
  color: #a0a0a0;
  padding-bottom: 5px;
  font-size: 13px;
  display: block;
}

.inputContainer button {
  border-radius: 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px auto;
  height: 41px;
  width: 40%;
}

.inputContainer a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 100px;
}