html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 14px;
  min-width: 720px;
}

* {
  letter-spacing: 1px;
}


.headerContainer {
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.headerContainer ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 24px auto;
}

.headerContainer ul li {
  margin-right: 2.25rem;
}

.headerContainer nav {
  color: #fff;
  list-style: none;
}

.container {
  display: block;
  width: 100%;
  margin-top: 72px;
}

.sideContainer {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-color: rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right-width: 1px;
  border-right-style: solid;
}

.viewContainer {
  background-color: #fdf9f9;;
  height: 300px;
  width: 500px;
}

.mainContainer {
  margin-top: 150px;
}

.mainContainer h1 {
  text-align: center;
  font-weight: 500;
}

.viewContainer {
  margin: 0 auto;
}

.menuContainer {
  width: 500px;
  margin: 0 auto;
}

.menuContainer h3 {
  text-align: center;
  font-weight: 300;
}

.menuContainer ul {
  list-style: none;
}

/* timer */
.inactive {
  opacity: 0.6;
}